@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* background-color */
  --primary-color: #004caa;
  --secondary-color: #fc5185;
  --bg-light-blue: #3672bc;
  --bg-dark: #666;
  --bg-white: #fff;

  /* text style  */
  --primary-font: "Roboto Slab", serif;
  --secondary-font: "Josefin Sans", sans-serif;
  --primary-text: #004caa;
  --secondary-text: #fc5185;
  --text-white: #fff;
  --text-black: #222;
  --text-gray: #666;
  --text-light: #ddd;
}
body {
  font-family: var(--primary-font);
  background-color: var(--bg-white);
}
a {
  text-decoration: none;
}
::-webkit-scrollbar {
  width: 0.275rem;
}
::-webkit-scrollbar-track {
  background: var(--bg-light-blue);
}
::-webkit-slider-thumb {
  background: var(--secondary-color);
}
.wrapper {
  padding: 6.25rem 0;
}
.main-btn {
  display: inline-block;
  border: 0.125rem solid var(--bg-white);
  color: var(--text-white);
  text-align: center;
  padding: 0.75rem 1.375rem;
  font-size: 1rem;
  background: transparent;
  text-transform: capitalize;
  border-radius: 0.1875rem;
  transition: all 0.3s ease-in-out;
}
.main-btn:hover {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
  color: var(--text-white);
}
.fill-btn {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
  color: var(--text-white);
}
.fill-btn:hover {
  background-color: var(--bg-white);
  border-color: var(--bg-white);
  color: var(--text-black);
}
h1 {
  font-size: 3.875rem;
  margin-bottom: 1.25rem;
  font-weight: 600;
  color: var(--text-white);
  font-family: var(--secondary-font);
}
h2 {
  font-size: 2.875rem;
  font-weight: 600;
  color: var(--text-white);
  font-family: var(--secondary-font);
}
h3 {
  font-size: 2.25rem;
  font-weight: 600;
  color: var(--text-white);
  font-family: var(--secondary-font);
}
h4 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2.25rem;
  color: var(--text-black);
  font-family: var(--secondary-font);
}
h5 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.2rem;
  color: var(--primary-text);
  font-family: var(--secondary-font);
}
h6 {
  font-size: 0.875rem;
  font-weight: 300;
  margin-bottom: 0.9375rem;
  text-transform: uppercase;
  color: var(--text-black);
  font-family: var(--secondary-font);
}
p {
  font-size: 1rem;
  color: var(--text-gray);
  line-height: 1.625rem;
}
.card {
  border-radius: 0.625rem;
  background-color: var(--bg-white);
  box-shadow: 0.5084rem 1.1419rem 1rem rgb(0 0 0 / 8%);
  padding: 3.75rem 3.125rem 4.6875rem;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  border: 0;
}
@keyframes movebounce {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(1.25rem);
    transform: translateY(1.25rem);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
/* table of content  */
/* 1.general */

/* 2.navbar */
.header-wrapper .navbar {
  padding: 0.9375rem 0;
  background-color: transparent;
  transition: 0.3s ease-in-out;
}
.header-wrapper .navbar-toggler,
.header-wrapper .navbar-toggler:focus {
  border: 0;
  color: var(--text-black);
  line-height: 2;
  box-shadow: none;
}
.header-wrapper .nav-item {
  margin: 0.625rem;
}
.header-wrapper .nav-item .nav-link {
  font-size: 1.125rem;
  font-weight: 400;
  color: var(--primary-text);
  display: inline-block;
  font-family: var(--secondary-font);
}
.header-wrapper .nav-item .nav-link:hover,
.header-wrapper .nav-item .nav-link:focus,
.header-wrapper .nav-item .nav-link.active {
  color: var(--secondary-text);
}
.navbar.header-scrolled {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: var(--bg-white);
  box-shadow: 0.5084rem 1.1419rem 2.5rem 0 rgb(0 0 0 / 8%);
  transition: 0.3s ease-in-out;
}
/* 3.Banner */
.banner_wrapper {
  background-image: url("../images/top-banner-img/Top-banner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.banner_wrapper p {
  max-width: 80%;
  color: var(--text-white);
}
.banner_wrapper .top-right-sec {
  position: relative;
  background-image: url("../images/top-banner-img/top-right-bg.png");
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.banner_wrapper .animate-img {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  z-index: 22;
}
.banner_wrapper .animate-img .aimg1 {
  left: -5.6875;
  position: absolute;
  animation-name: movebounce;
  -webkit-animation-name: movebounce;
  animation-delay: 100ms;
  -webkit-animation-delay: 100ms;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  animation-duration: 2s;
  -webkit-animation-duration: 2s;
  animation-direction: alternate;
}
.banner_wrapper .animate-img .aimg2 {
  margin-left: 5.5rem;
  animation-name: movebounce;
  -webkit-animation-name: movebounce;
  animation-delay: 200ms;
  -webkit-animation-delay: 200ms;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  animation-duration: 2.5s;
  -webkit-animation-duration: 2.5s;
  animation-direction: alternate;
}
.home .card:hover {
  transform: translateY(-0.625rem);
  -webkit-transform: translateY(-0.625rem);
}
.home .icon-box {
  text-align: center;
  margin: 0 auto 2.5rem;
}
/* 4.About */
.about-wrapper h2 {
  color: var(--text-black);
}
.about-wrapper .card {
  width: 80%;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about-wrapper .about-clinic {
  flex: 0 0 auto;
  width: 50%;
}
.about-wrapper .about-clinic:nth-child(1),
.about-wrapper .about-clinic:nth-child(2) {
  margin-bottom: 2.8125rem;
}
.about-wrapper .about-clinic:nth-child(2),
.about-wrapper .about-clinic:nth-child(4) {
  padding-left: 3.75rem;
}
.about-wrapper .line-1,
.about-wrapper .line-2 {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0.0313rem;
  height: 100%;
  background-color: var(--bg-dark);
}
.about-wrapper .line-2 {
  width: 100%;
  height: 0.0625rem;
}
.about-wrapper .about-animate {
  position: absolute;
  left: -2.5rem;
  bottom: 0;
  animation: movebounce 3s linear infinite;
  -webkit-animation: movebounce 3s linear infinite;
}
/* 5.Services */
.services-wrapper {
  background-color: var(--primary-color);
}
.services-wrapper .card {
  background-color: transparent;
  border: 0.0625rem solid var(--bg-light-blue);
  box-shadow: none;
  padding: 2.5rem;
}
.services-wrapper .card:hover {
  background: var(--bg-light-blue);
  cursor: cell;
  border-color: transparent;
}
.services-wrapper .card h4,
.services-wrapper .card p {
  color: var(--text-white);
}
.services-wrapper .icon-box {
  margin-bottom: 1.875rem;
}
/* 6.Team */
.team-wrapper .card {
  padding: 1.25rem;
}
.team-wrapper .card:hover {
  transform: translateY(-0.625rem);
  -webkit-transform: translateY(-0.625rem);
}
.team-wrapper .team-img {
  margin: 0 auto;
}
.team-wrapper .team-info .social-network {
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  padding: 0 0.625rem;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.team-wrapper .team-info .social-network li a {
  width: 1.5625rem;
  height: 1.5625rem;
  line-height: 1.5624rem;
  display: block;
  border-radius: 0.3125rem;
  margin: 0 0.3125rem;
  font-size: 0.75rem;
  background-color: var(--bg-dark);
  color: var(--text-white);
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}
.team-wrapper .team-info .social-network li a:hover {
  background-color: var(--secondary-color);
}
/* 7.Gallery */
.gallery-wrapper {
  background-image: url("../images/gallery/gallery-background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.gallery-wrapper img {
  border-radius: 0.9375rem;
}
/* 8.Testimonial */
.testimonial-wrapper .card {
  background-color: rgba(252, 81, 133, 0.05);
}
/* Appointment  */
.appointment-wrapper {
  background-image: url("../images/appointmnet-bg.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
/* 9.Blog */
.blog-wrapper .blog-content {
  background-color: var(--bg-light-blue);
  padding: 2.5rem;
}
/* 10.Footer  */
.footer-wrapper {
  background-color: var(--primary-color);
}
.footer-wrapper h5 {
  color: var(--text-white);
}
.footer-wrapper ul li {
  margin-bottom: 0.5rem;
  list-style: none;
  font-size: 0.875rem;
}
.footer-wrapper .contact-info ul a {
  padding: 0;
}
.footer-wrapper ul li a,
.footer-wrapper p {
  color: var(--text-white);
  font-size: 0.875rem;
  padding-left: 1.5rem;
  position: relative;
  transition: all 0.3s ease-out 0s;
  -webkit-animation: all 0.3s ease-out 0s;
  animation: all 0.3s ease-out 0s;
}
.footer-wrapper ul li a::before {
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  position: absolute;
  left: 0.3rem;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
.footer-wrapper .link-widget li a:hover {
  margin-left: 0.625rem;
  color: var(--secondary-text);
}
.footer-wrapper .social-network li a::before {
  content: "";
}
.footer-wrapper .social-network {
  padding: 0;
}
.footer-wrapper .social-network a {
  width: 2.1875rem;
  height: 2.1875rem;
  margin: 0.5rem;
  font-size: 0.875rem;
  line-height: 2rem;
  padding-left: 0;
  display: inline-block;
  border: 0.125rem solid var(--bg-light-blue);
  color: var(--text-light);
  border-radius: 100%;
  text-align: center;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.footer-wrapper .social-network a:hover {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
  color: var(--text-white);
  transform: translateY(-0.1875rem);
}
.footer-wrapper ::placeholder {
  color: var(--text-light);
}
.footer-wrapper .form-control {
  color: var(--text-white);
}
.footer-wrapper .form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: var(--bg-white);
}
.footer-wrapper .copyright-section {
  background-color: var(--bg-light-blue);
  padding: 2rem 1rem;
  text-align: center;
}
.footer-wrapper .copyright-section a {
  color: var(--text-white);
  font-weight: 400;
}

/* media queries  */
@media screen and (max-width: 1199.5px) {
  /* custom css  */
  .card {
    padding: 2.5rem 1.875rem;
  }

  /* header  */
  .header-wrapper .navbar-nav .nav-link {
    font-size: 1rem;
  }
  /* top banner  */
  
  /* about */
  .about-wrapper .card {
    width: 100%;
  }
  .about-wrapper .about-animate {
    left: 0.9375rem;
  }
  .about-wrapper .about-clinic:nth-child(1),
  .about-wrapper .about-clinic:nth-child(2) {
    margin-bottom: 1.5625rem;
  }
  .about-wrapper .about-clinic:nth-child(2),
  .about-wrapper .about-clinic:nth-child(4) {
    padding-left: 2.375rem;
  }
  /* sevice */
  .services-wrapper .card {
    padding: 1.875rem 1.25rem;
  }
}

@media screen and (max-width: 991px) {
  /* custom css  */
  .wrapper {
    padding: 3.125rem 0;
  }
  .main-btn {
    font-size: 0.875rem;
  }
  h1 {
    font-size: 2.8125rem;
    margin-bottom: 0.625rem;
  }
  h2 {
    font-size: 1.875rem;
  }
  h3 {
    font-size: 1.5625rem;
  }
  h4 {
    font-size: 1.125rem;
  }
  p {
    font-size: 0.875rem;
    line-height: 1.35rem;
  }
  .card {
    padding: 1.875rem 1rem;
  }
  /* 2 navbar  */
  .header-scrolled {
    height: auto;
  }
  .header-wrapper .menu-navbar-nav {
    text-align: center;
  }
  .header-wrapper .nav-item .nav-link {
    margin-top: 0.9375rem;
  }
  /* banner  */
  .banner_wrapper p {
    max-width: 100%;
  }

  /* services  */
  .services-wrapper .card {
    padding: 1.875rem 0.875rem;
  }

  /* blog  */
  .blog-wrapper .card .blog-content {
    padding: 1.875rem 0.625rem;
  }
}
@media screen and (max-width: 767px) {
  .main-btn {
    font-size: 0.875rem;
  }
  h1 {
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
  }
  h5 {
    font-size: 1.25rem;
  }
  /* services  */
  .services-wrapper .card {
    text-align: center;
  }
  /* blog  */
  .blog-wrapper .card .blog-content {
    margin: 0;
  }
}
@media screen and (max-width: 360px) {
  .about-wrapper .about-animate {
    width: 6.875;
  }
  .about-wrapper .card {
    padding: 1.25rem 0.3125rem;
  }
  .about-wrapper .about-clinic:nth-child(2),
  .about-wrapper .about-clinic:nth-child(4) {
    padding-left: 0.625rem;
  }

  /* services  */
  .services-wrapper .icon-box {
    margin-bottom: 0.9375rem;
  }
}